<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>积分计算器</title>
		<meta charset="utf-8">
		<!-- 引入 Bootstrap -->
		 <link href="bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
		 <link href="style.css" rel="stylesheet">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script> 
	</head>

	<body>

	
	<div class="container">
	</div>
	<div class="container" ng-app="myApp" ng-controller="myCtr">
		<p class="text-center text-info">输入胜者与败者的分数 </p>
		<div class="container container-center">
			<form role="form">
				<div class="form-group">
					<label for="name">胜者:</label><input type="text" ng-model="winnerScore" placeholder="胜者的分数">
				</div>
				<div class="form-group">
					<label for="name">败者:</label><input type="text" ng-model="loserScore" placeholder="败者的分数">
				</div>
				<input class="btn btn-primary" type="button" value="计算" ng-click="calculate()">
			 	<input class="btn btn-warning" type="reset" value="重置" ng-click="reset()">
			</form>
		</div>
		<div class="container container-center">
			<div>
				<p>{{winner}}  {{winnerGet}}</p>
			</div>
			<div>
				<p>{{losser}}  {{loserLose}}</p>
			</div>
		</div>
		
	</div>


	<script>
	var app = angular.module('myApp', []);
	app.controller('myCtr', function($scope) {
	    $scope.winnerScore;
	    $scope.loserScore;
	    $scope.winnerGet;
	    $scope.loserLose;
	    $scope.winner;
	    $scope.losser;
	    $scope.calculate = function() {
	    	$scope.winner = "胜者得分";
	    	$scope.losser = "败者失分";
	    	var thesholds = new Array(13, 38, 63, 88, 113, 138, 163, 188, 213, 238);
	  		var winnerGets = new Array(8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 0);
	  		var losserLosses = new Array(8, 10, 13, 16, 20, 25, 30, 35, 40, 45, 50);
	  		var gap = Math.abs($scope.winnerScore - $scope.loserScore);
	  		for (t in thesholds) {
	  			if(gap > thesholds[t]) {
	  				continue;
	  			}
	  			else {
	  				if($scope.winnerScore > $scope.loserScore) {
	  					$scope.winnerGet = winnerGets[t];
	  					$scope.loserLose = winnerGets[t];
	  				}
	  				else {
	  					$scope.winnerGet = losserLosses[t];
	  					$scope.loserLose = losserLosses[t];
	  				}
	  				break;
	  			}
	  		}
	    };
	    $scope.reset = function() {
	    	$scope.winner = "";
	    	$scope.losser = "";
	    	$scope.winnerGet = "";
	    	$scope.loserLose = "";
	    };
	});

	</script>

	</body>
</html>